<h1>Forgot Your Password?</h1>
<form action="/auth/send_password" method="post">
<div class="column span-17 first last">
	<div class="column span-2 first">Email:</div>
	<div class="column span-7"> <%= text_field_tag 'email' %> </div>
	<div class="column span-8 last"> Your password will be sent to your email address. </div>
</div>
</div>
<div class="column span-17 first last">
	<div class="column span-2 first">&nbsp;</div>
	<div class="column span-15 last"><%= submit_tag "Send My Password" %> </div>
</div>
</form>
