<div class="column span-19 first last">
	<div class="float-right right-side-content-image">
	<%= render :partial => @page.partial %>
	</div>
 <%= RedCloth.new( @page.body ).to_html %>
</div>
<div class="column span-19 first last">
<%= link_to image_tag('facebook.gif'), "http://www.facebook.com/pages/Portland-ME/Nomads/201144270427"%>
</div>